<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- main scripts -->
<%- js('js/main') %>
<!-- seo -->
<%- partial('_third/baidu_push') %>
<!-- statistics -->
<div class="hidden">
  <% for(var type in theme.statistics){ %>
  <%- partial('_third/statistics/' + type, {data: theme.statistics[type]}) %>
  <% } %>
</div>