<footer id="footer" class="footer">
  <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>. <a href="https://gitee.com/maoxuner/hexo-theme-hexone/" target="_blank">HexOne</a> theme by <a href="https://www.maoxuner.cn/" target="_blank">maoxuner</a>. Inspired by <a href="http://blog.gregwym.info/">Trapecho</a>.</p>
</footer>